# WordPress do Cafezinho
CAFEZINHO_WP_URL=https://ocafezinho.com
CAFEZINHO_WP_USER=
CAFEZINHO_WP_APP_PASSWORD=
CAFEZINHO_WP_AUTHOR_ID=5784

# Cloudflare R2
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=cafezinho
R2_PUBLIC_BASE_URL=https://pub-7c53d388419e4d44b17eace540ae7e22.r2.dev
